img {
  float: left;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.sidebar {
  float: right;
  background-color: yellow;
}

body {
  background-image: url(../img/field.jpg);
  background-repeat: no-repeat;
  background-size: auto%;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

